.Nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(22, 20, 20);
    padding-bottom: 10px;
    width: 100%;
    top: 0%;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    z-index: 1000;
}

.Nav ul {
    display: flex;
    list-style: none;
    margin-left: 35rem;
}

.Nav ul li a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .Nav {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        height: auto; /* Adjust height for smaller screens */
    }

    .Nav ul {
        margin-left: 0; /* Remove margin for smaller screens */
    }

    .Nav ul li a {
        margin-left: 10px;
        font-size: 16px; /* Adjust font size for better readability */
    }

    .logo h1 {
        font-size: 20px; /* Adjust logo font size for smaller screens */
    }
}
